# installation location
install

# MacOS metadata
.DS_Store

# Visual Code
.vscode
.build

# Cmake common build location
build

Doc/UserGuide/UserGuide.aux
Doc/UserGuide/UserGuide.bbl
Doc/UserGuide/UserGuide.blg
Doc/UserGuide/UserGuide.log
Doc/UserGuide/UserGuide.out
Doc/UserGuide/UserGuide.synctex.gz
Doc/UserGuide/UserGuide.toc
